.progress-ring-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-ring circle {
    transition: stroke-dashoffset 0.5s ease-in-out;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-primary);
}